In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("insurance.csv") #Creating a DataFrame from the given CSV file

In [3]:
X = df['x']

In [4]:
y = df['y']

In [5]:
#Dividing the data into 2 halfs
#train data will help us find the d(predicted)
#and test will check if d(predicted) is correct line or not

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
#test_size tells you 20% data will be taken to form test data

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [9]:
df['x-xbar'] = X_train.apply(lambda x: x-X_train.mean()) #replaces the the Nan with (x-xbar) using anonymous Function

In [10]:
df['y-ybar'] = y_train.apply(lambda x: x-y_train.mean())

In [11]:
df.head(5) #the data has some Nan values

     x      y  x-xbar  y-ybar
0  108  392.5    83.6  283.29
1   19   46.2     NaN     NaN
2   13   15.7     NaN     NaN
3  124  422.2    99.6  312.99
4   40  119.4    15.6   10.19

In [12]:
df.dropna(inplace = True) # removing Nan values

In [13]:
df.head(5)

     x      y  x-xbar  y-ybar
0  108  392.5    83.6  283.29
3  124  422.2    99.6  312.99
4   40  119.4    15.6   10.19
8   45  214.0    20.6  104.79
9   10   65.3   -14.4  -43.91

In [14]:
df['(x-xbar)*(y-ybar)'] = df.apply(lambda x: x['x-xbar']*x['y-ybar'], axis = 1)
#axis = 1 traverse data along columns

In [15]:
df['(x-xbar)**2'] = df.apply(lambda x: (x['x-xbar'])**2, axis = 1)

In [16]:
df['(x-xbar)*(y-ybar)/(x-xbar)**2'] = df.apply(lambda x: x['(x-xbar)*(y-ybar)']/x['(x-xbar)**2'], axis = 1)

In [17]:
df.head(5)

,x,y,x-xbar,y-ybar,(x-xbar)*(y-ybar),(x-xbar)**2,(x-xbar)*(y-ybar)/(x-xbar)**2
0,108,392.5,83.6,283.29,23683.044,6988.96,3.388636
3,124,422.2,99.6,312.99,31173.804,9920.16,3.142470
4,40,119.4,15.6,10.19,158.964,243.36,0.653205
8,45,214.0,20.6,104.79,2158.674,424.36,5.086893
9,10,65.3,-14.4,-43.91,632.304,207.36,3.049306

In [18]:
m = df['(x-xbar)*(y-ybar)'].sum()/df['(x-xbar)**2'].sum()

In [19]:
c = y_train.mean() - m*X_train.mean()

In [20]:
print(m,c)

3.434264967803809 25.413934785587045

Now as we have derived m and c from train data we will test it on test data

In [21]:
#creating a new test DataFrame
test_df = pd.DataFrame({'X':X_test,'y':y_test})

In [22]:
test_df['y_predicted'] = test_df.apply(lambda x: x['X']*m +c, axis = 1)
#Adding y predicted with the values of m and c

In [23]:
test_df.head()

     X     y  y_predicted
30   0   0.0    25.413935
6   23  56.9   104.402029
2   13  15.7    70.059379
12  11  23.5    63.190849
49   3  39.9    35.716730

In [24]:
#now as we have calculated Y(actual) and Y(predicted) now we find all types of error rms,ms,mean_absolute error
#Out of all these we prefer rms

In [25]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from math import sqrt

In [26]:
mean_absolute_error(test_df['y'],test_df['y_predicted'])

33.3634909945514

In [27]:
mean_squared_error(test_df['y'],test_df['y_predicted'])

1387.6895821219723

In [28]:
sqrt(mean_squared_error(test_df['y'],test_df['y_predicted']))

37.251705761239606

## linear regression by sklearn

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
lr = LinearRegression()
X_train = X_train.values.reshape(-1,1) #reshape covert 1D data to 2D data
y_train = y_train.values.reshape(-1,1)
lr.fit(X_train,y_train) #lr.fit calculate m and c values from data

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [31]:
X_test = X_test.values.reshape(-1,1)

In [32]:
pred = lr.predict(X_test) #lr.fit calculate y(predicted) with x_test data where m and c were found using l.fit

In [33]:
mean_absolute_error(y_test,pred)

33.3634909945514

In [34]:
test_df.to_csv('insurance_result.csv')